
body{
	margin: 0px;
	padding: 0px 60px 0px 60px;
	font-family:Lucida Sans Unicode, Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

@font-face{
	font-family: LeagueGothicRegular;
	src: url('League_Gothic-webfont.ttf');
}

div.header {
	padding: 5px;
	border-bottom: 1px solid #8D8C8C; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1); 
	border-radius: 0px 0px 5px 5px;
}

div.content{	
}

div.foot{	
}

div.banner{
}

p.banner{
	padding-top: 10px;
	padding-left: 10px;
	font: bold 30px LeagueGothicRegular;
	margin: 0px;
}

div.image{
	position: relative;
	height: 150px;
	width: 160px;
	margin-top: 10px;
	float: right;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1); 
	border-radius: 5px 5px 5px 5px;
}